html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url('../images/bananas.png');
}

/*Navigation Bar*/

.main-nav-name{
    background-color: #4aaaa5;
    padding: 10px 20px 10px 20px;
    font-size: 38px;
}

.main-nav-sty {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid #777777;
    background-color:#ffffff;
    padding-top: 50px;
    padding-bottom: 0px;
}

.item-sty{
    font-size: 18px;
    color: #777777;
}

#name-font{
    color: white;
}
#about {
    color:#777777;
}

#contact{
    color: #777777;
}

#portfolio {
    color: #777777;

}

/*Main Content Area*/

.content-bkgrd{
    background-color:#ffffff;
    padding-bottom: 100px;
}


.head-sty{
    border-bottom: 2px solid #777777;
}

/*porfolio*/

.img-style{
    width: 200px;
}
.text-overlay {
    position: absolute;
    top: 120px;
    width: 200px;
    background:#4aaaa5;
    color: #fff;
    text-align: center;
}
/*Footer*/
.foot-main {
    border-top: 3px solid #4aaaa5;
    background-color: #666666;
    height: 75px;
    padding-top: 10px;
    color: white;
}


