html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url('../images/bananas.png');
    overflow: scroll;
}

/*Navigation Bar*/
.nav-bar {
    height: 100px;
    border-bottom: 3px solid #777777;
    background-color:#ffffff;
}

.nav-bar-name {
    background-color: #4aaaa5;
    height: 50px;
    margin-top: 50px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.portfolio {
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
}

.nav-bar-button { 
    height: 50px;
    margin-top:60px;
}

/*Index Main Content*/
.index-main {
    height: 500px;
}

/*Footer*/
.foot-main {
    border-top: 3px solid #4aaaa5;
    background-color: #666666;
    height: 100px;
    padding-top: 10px;
    text-align: center;

}


